
*
{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

h1
{
    text-align: center;
    font-size: 45px;
    font-weight:lighter;
}

#salmon-image 
{
    width: 400px;
    height: 350px;
    border-radius: 25px;  
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.navigation
{
    background-color: #C89F9C;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
}



body
{
    background-image: url("images/lemon-background.jpg");

    color: #5C4742;
}


.text-area 
{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border: #f2e9e4 solid 1px;
}

