
*
{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.navigation
{
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left:40px;
    margin-right: 40px;
    font-style: italic;
    font-weight: bolder;
    background-color: #6b705c;
}



h1
{
    text-align: center;
    font-size: 45px;
    font-weight:lighter;
}

#salmon-image 
{
    width: 400px;
    height: 350px;
    border-radius: 25px;  
    display: block; 
    margin-left: auto;
    margin-right: auto;
}


body
{
    background-image: url("images/lemon-background.jpg");
    color: #3f4238;
}


.text-area 
{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border: #f2e9e4 solid 3px;
}

.flex-container
{
display: flex;
justify-content: space-between;å
}

.flex-item-ingredients
{
    margin-right: 35px;
    mid-width: 100px;
}

textarea
{
border: #f2e9e4 dotted 2px;
}
